.lists-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.world-list{
  margin: 5px;
  padding: 10px;
  width: calc((100% + 30px) / 6);

  background-color: var(--content-highlight-bg);
}

.world-list ul{
  padding-left: 20px;
}

#world-name{
  margin: 0;
}

@media only screen and (max-width: 768px){
  .world-list{
    width: 40%;
  }
}

@media only screen and (max-width: 425px){
  .world-list{
    width: 100%;
  }
}