.lists-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.world-list{
  margin: 5px;
  padding: 10px;
  background-color: var(--content-highlight-bg);
  width: calc((100% + 30px) / 6);
}

#world-name{
  margin: 0;
}

.world-list ul{
  padding-left: 20px;
}