.category-container{
  float: left;
  width: calc(100% - 286px);
}

.category-about-rules ul{
  padding-left: 20px;
}

#about, #rules-label{
  margin: 0;
}

#no-wr, #wr{
  float: right;
  padding: 10px;
  width: 256px;

  background-color: var(--content-highlight-bg);
}

#no-wr{
  display: none;
}
#no-wr small{
  color: var(--link);
}

#no-wr small:hover{
  text-shadow: 0 0 5px var(--link-hover);

  cursor: pointer;
}

@media only screen and (max-width: 425px){
  .category-container{
    width: 100%;
  }
  
  #no-wr, #wr{
    display: none;
  }
}