:root{
  --bg: #E3E3E3;
  --content-bg: #FFFFFF;
  --content-highlight-bg: #EEEEEE;
  --text: #000000;
  --nav: #EEEEEE;
  --nav-text: #000000;
  --nav-li-hover: #C9ADAD;
  --footer: #EEEEEE;
}

[data-theme="dark"] {
  --bg: #1F1F1F;
  --text: #FFFFFF;
  --nav: #141414;
  --nav-text: #FFFFFF;
  --nav-li-hover: #241818;
  --content-bg: #252525;
  --content-highlight-bg: #1F1F1F;
  --footer: #141414;
}